name: Hello World
# on: [push, pull_request]のように、複数のイベントを指定することもできます。
# ただし、細かい条件は[]で指定する時はできません。
on:
    push:
        branches:
        - main
jobs:
    say-hello:
        runs-on: ubuntu-latest
        outputs:
            kuma: ${{ steps.set-kuma.outputs.kuma }}
        steps:
            - id: set-kuma
            # $GITHUB_OUTPUTは、GitHub Actionsの特定のファイルで、ジョブのステップから出力値を設定するために使用されます。
            # kuma=nyankoは、key=valueの形式で、kumaという名前の出力変数にnyankoという値を設定しています。
            # これは$GITHUB_OUTPUTのお作法！
              run: echo "kuma=nyanko" >> $GITHUB_OUTPUT
    read-greeting:
        needs: say-hello
        runs-on: ubuntu-latest
        steps:
            - name: Read Greeting
              run: echo "The kuma is ${{ needs.say-hello.outputs.kuma }}"
    echo-env-val:
        runs-on: ubuntu-latest
        env:
            poepoe: waaan
        steps:
            - name: Echo poepoe
            # envはそのまま$hogeで呼び出せる
              run: echo "The poepoe is $poepoe"